<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Inicio</title>
    <link href="/styles/stylehome.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container my-5">
        <div class="row-justify-content-center">
            <div class="col-md-3">
                <a href="/calculo">
                    <img class="imagenes" src="images/calculo.png" alt="Cálculo">
                </a>
            </div>
            <div class="col-md-3">
                <a href="/algebra">
                    <img class="imagenes" src="images/algebra.jpg" alt="Álgebra">
                </a>
            </div>
            <div class="col-md-3">
                <img class="imagenes" src="" alt="Placeholder">
            </div>
            <div class="col-md-3">
                <img class="imagenes" src="" alt="Placeholder">
            </div>
        </div>
    </div>
    <p>hola gabrielaaa</p>
</body>

</html>
