<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Inicio</title>
    <link href="styleh.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container my-5">
        <div class="row justify-content-center">        <div class="col-md-3"><a href="/calculo">
            <image src="images/calculo.png" ></image></a>
        </div>
        <div class="col-md-3"><a href="/algebra">
            <image src="images/algebra.jpg" /></a>
        </div>
        <div class="col-md-3">
            <image />
        </div>
        <div class="col-md-3">
            <image />
        </div></div>


    </div>

</body>

</html>