<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Inicio</title>
    <link href="/styles/stylehome.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container my-5">
        <p class="titulo">¿Qué quieres aprender hoy?</p>
    <div class="row-justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <a href="/calculo">
                <img class="imagenes" src="images/calculo.png" alt="Cálculo">
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <a href="/algebra">
                <img class="imagenes" src="images/algebra.jpg" alt="Álgebra">
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img class="imagenes" src="images/fisica.png" alt="Placeholder">
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img class="imagenes" src="images/programacion.jpg" alt="Placeholder">
        </div>
    </div>
</div>

    <p style="color: #84b6f4;"> hola gabrielaaa</p>
</body>

</html>
